{
    "openapi": "3.0.2",
    "info": {
        "title": "CustomGPT.ai",
        "description": "API Documentation for CustomGPT.ai.",
        "contact": {
            "name": "CustomGPT.ai",
            "url": "https:\/\/app.customgpt.ai",
            "email": "hello@customgpt.ai"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https:\/\/app.customgpt.ai",
            "description": "API Version 1"
        }
    ],
    "paths": {
        "\/api\/v1\/projects": {
            "get": {
                "tags": [
                    "Agents"
                ],
                "summary": "List all agents.",
                "description": "Returns a list of your agents (formerly known as projects). The agents are returned sorted by creation date, with the most recent agents appearing first. It is a paginated API and you can use the page parameter to fetch the next page of agents. The default page size is 10.\n\nHere is an example to list agents: using [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/List_all_projects_for_an_account_with_pagination.ipynb) and using our python [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_List_all_projects_using_pagination.ipynb).",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number to return",
                        "required": false,
                        "schema": {
                            "default": 1,
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "duration",
                        "in": "query",
                        "description": "The duration of the agents to list.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 90
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order of the agents to list. Defaults to desc.",
                        "required": false,
                        "schema": {
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "default": "desc",
                            "type": "string",
                            "example": "desc"
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "The orderBy to sort the results by given field",
                        "required": false,
                        "schema": {
                            "enum": [
                                "id",
                                "created_at"
                            ],
                            "default": "id",
                            "type": "string",
                            "example": "id"
                        }
                    },
                    {
                        "name": "width",
                        "in": "query",
                        "description": "The width of the embed code. Defaults to 100%.",
                        "required": false,
                        "schema": {
                            "default": "100%",
                            "type": "string",
                            "example": "50rem"
                        }
                    },
                    {
                        "name": "height",
                        "in": "query",
                        "description": "The height of the embed code. Defaults to 100%.",
                        "required": false,
                        "schema": {
                            "default": "auto",
                            "type": "string",
                            "example": "50rem"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filter the results by agent name",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Sample agent"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved list of agents that belong to the user.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "description": "The status of the response",
                                            "enum": [
                                                "error",
                                                "success"
                                            ],
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "description": "The current page number",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#\/components\/schemas\/Project"
                                                    }
                                                },
                                                "first_page_url": {
                                                    "description": "The first page url",
                                                    "type": "string",
                                                    "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                },
                                                "from": {
                                                    "description": "The first item number of the current page",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page": {
                                                    "description": "The last page number",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page_url": {
                                                    "description": "The last page url",
                                                    "type": "string",
                                                    "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                },
                                                "next_page_url": {
                                                    "description": "The next page url",
                                                    "type": "string",
                                                    "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                },
                                                "path": {
                                                    "description": "The current page url",
                                                    "type": "string",
                                                    "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                },
                                                "per_page": {
                                                    "description": "The number of items per page",
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "prev_page_url": {
                                                    "description": "The previous page url",
                                                    "type": "string",
                                                    "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                },
                                                "to": {
                                                    "description": "The last item number of the current page",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total": {
                                                    "description": "The total number of items",
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agents"
                ],
                "summary": "Create a new agent.",
                "description": "Create a new agent by importing data either from a sitemap or an uploaded file. This endpoint enables you to initiate the creation of a new agent by supplying the necessary agent data that will be used as the context. You can choose to import the agent knowledge and content from a sitemap url or upload a specific file format that contains the context can be any text, audio or video format. The system will process the provided data and generate a new agent based on the imported or uploaded information.\nHere is an example to create an agent using a sitemap: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Create_Bot_By_Sitemap.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Create_Bot_By_Sitemap.ipynb).",
                "requestBody": {
                    "description": "Create a new agent from a sitemap or a file",
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "project_name": {
                                        "description": "Agent name",
                                        "type": "string",
                                        "example": "My agent"
                                    },
                                    "sitemap_path": {
                                        "description": "The sitemap path",
                                        "type": "string",
                                        "example": "https:\/\/example.com\/sitemap.xml"
                                    },
                                    "file_data_retension": {
                                        "description": "File data retension",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "is_ocr_enabled": {
                                        "description": "OCR enabled",
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "is_anonymized": {
                                        "description": "Anonymized",
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "file": {
                                        "description": "The submitted file.",
                                        "format": "binary",
                                        "type": "string",
                                        "example": "file.pdf"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "$ref": "#\/components\/responses\/ProjectCreatedResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/CreateProjectErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}": {
            "get": {
                "tags": [
                    "Agents"
                ],
                "summary": "Show a certain agent.",
                "description": "Retrieve details of an agent (formerly known as project) based on its unique project ID. This endpoint allows you to fetch specific information about an agent.",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique agent identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "width",
                        "in": "query",
                        "description": "The width of the embed code. Defaults to 100%.",
                        "required": false,
                        "schema": {
                            "default": "100%",
                            "type": "string",
                            "example": "50rem"
                        }
                    },
                    {
                        "name": "height",
                        "in": "query",
                        "description": "The height of the embed code. Defaults to 100%.",
                        "required": false,
                        "schema": {
                            "default": "auto",
                            "type": "string",
                            "example": "50rem"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/ListProjectResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agents"
                ],
                "summary": "Update a certain agent.",
                "description": "Update an agent (formerly known as project) with specific details based on its unique projectId. This endpoint allows you to modify and revise the information associated with a particular agent\nHere is an example to a update a specific object: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Update%20a%20project%20name.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Update_a_project_name.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique identifier of the agent (formerly known as project).",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update an agent",
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "project_name": {
                                        "description": "Agent name",
                                        "type": "string",
                                        "example": "My agent"
                                    },
                                    "is_shared": {
                                        "description": "Whether the agent is public or not",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "sitemap_path": {
                                        "description": "Sitemap path",
                                        "type": "string",
                                        "example": "https:\/\/example.com\/sitemap.xml"
                                    },
                                    "file_data_retension": {
                                        "description": "File data retension",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "is_ocr_enabled": {
                                        "description": "OCR enabled",
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "is_anonymized": {
                                        "description": "Anonymized",
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "file": {
                                        "description": "File",
                                        "format": "binary",
                                        "type": "string",
                                        "example": "file.pdf"
                                    },
                                    "are_licenses_allowed": {
                                        "description": "Whether project licenses are allowed",
                                        "default": false,
                                        "type": "boolean",
                                        "example": true
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/UpdateProjectResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Agents"
                ],
                "summary": "Delete a certain agent.",
                "description": "Delete an agent (formerly known as project) by its unique project ID. This endpoint allows you to remove an existing agent from the system based on its ID.\nHere is an example to delete an agent: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Delete_a_project.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Delete_a_project.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique identifier of the agent (formerly known as project).",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/DeleteProjectResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/replicate": {
            "post": {
                "tags": [
                    "Agents"
                ],
                "summary": "Replicate agent by given ID.",
                "description": "Replicate an agent (formerly known as project) by copying the agent info, settings, sitemap sources and uploaded files. This endpoint enables you to initiate the replication of an agent by supplying the necessary ID. The system will process the replicated data and generate a new agent based on the information of existing agent.",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique agent identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "$ref": "#\/components\/responses\/ProjectCreatedResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/CreateProjectErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/chat\/completions": {
            "post": {
                "tags": [
                    "Conversations"
                ],
                "summary": "Send a message to a conversation in openai format.",
                "description": "Send a message to a conversation within an agent (formerly known as project) identified by its unique projectId and sessionId. This endpoint enables you to send a new message to a specific conversation, facilitating seamless communication and collaboration within the agent. By providing the projectId and sessionId, you can target the desired conversation and contribute to the ongoing discussion. This API endpoint supports real-time streaming, allowing for instant message delivery and dynamic updates which enables efficient and interactive communication between the user and agent.\nHere is an example to send a message to a conversation: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Create_a_new_conversation_and_send_a_message_to_the_conversation.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Create_a_new_conversation_and_send_a_message_to_the_conversation.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Send a message in OpenAI chat completion format.",
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "messages": {
                                        "description": "The messages to send to OpenAI",
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "role": {
                                                    "enum": [
                                                        "system",
                                                        "user",
                                                        "assistant"
                                                    ],
                                                    "type": "string"
                                                },
                                                "content": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "model": {
                                        "description": "ID of the model to use",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "stream": {
                                        "description": "Whether to stream the response",
                                        "default": false,
                                        "type": "boolean"
                                    },
                                    "lang": {
                                        "description": "Response language",
                                        "default": "en",
                                        "type": "string"
                                    },
                                    "external_id": {
                                        "description": "External identifier",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "is_inline_citation": {
                                        "description": "Whether to include inline citations",
                                        "default": false,
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/SendConversationMessageOpenAI"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/SendMessageResourceExhaustedErrorResponse"
                    },
                    "501": {
                        "$ref": "#\/components\/responses\/UnsupportedArgumentsResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/stats": {
            "get": {
                "tags": [
                    "Agents"
                ],
                "summary": "Get the stats for a certain agent.",
                "description": "Retrieve statistical data for an agent (formerly known as project) using its unique projectId. This endpoint provides extensive statistics about the agent's performance, activity, or other relevant metrics.\nHere is an example to a specific object stats: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Get_Project_Stats.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Get_Project_Stats.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique identifier of the agent (formerly known as project).",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/ProjectStatsResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/pages": {
            "get": {
                "tags": [
                    "Pages"
                ],
                "summary": "List all pages that belong to an agent.",
                "description": "Retrieve a list of all pages associated with an agent (formerly known as project). This endpoint allows you to fetch agent details and a collection of pages that belong to a specific agent. Each page object includes information such as the page ID, URL, hash of the URL, agent ID, crawl status, index status, file details (if applicable), creation and update timestamps, and other relevant attributes.\nHere is an example to list all pages belonging to agent: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/List_all_pages_of_a_project.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_List_all_pages_belonging_to_a_project.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique agent identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number to return",
                        "required": false,
                        "schema": {
                            "default": 1,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit the number of documents to return. Defaults to 20.",
                        "required": false,
                        "schema": {
                            "default": 20,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order of the documents to list. Sorts by page ID.",
                        "required": false,
                        "schema": {
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "default": "desc",
                            "type": "string"
                        }
                    },
                    {
                        "name": "crawl_status",
                        "in": "query",
                        "description": "The crawl status of the documents to list.",
                        "required": false,
                        "schema": {
                            "enum": [
                                "all",
                                "ok",
                                "failed",
                                "n\/a",
                                "queued",
                                "limited"
                            ],
                            "default": "all",
                            "type": "string"
                        }
                    },
                    {
                        "name": "index_status",
                        "in": "query",
                        "description": "The index status of the documents to list.",
                        "required": false,
                        "schema": {
                            "enum": [
                                "all",
                                "ok",
                                "failed",
                                "n\/a",
                                "queued",
                                "limited"
                            ],
                            "default": "all",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of pages successfully retrieved.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "description": "The status of the response",
                                            "enum": [
                                                "error",
                                                "success"
                                            ],
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "project": {
                                                    "$ref": "#\/components\/schemas\/Project"
                                                },
                                                "pages": {
                                                    "type": "object",
                                                    "properties": {
                                                        "current_page": {
                                                            "description": "The current page number",
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "data": {
                                                            "type": "array",
                                                            "items": {
                                                                "$ref": "#\/components\/schemas\/Page"
                                                            }
                                                        },
                                                        "first_page_url": {
                                                            "description": "The first page url",
                                                            "type": "string",
                                                            "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                        },
                                                        "from": {
                                                            "description": "The first item number of the current page",
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "last_page": {
                                                            "description": "The last page number",
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "last_page_url": {
                                                            "description": "The last page url",
                                                            "type": "string",
                                                            "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                        },
                                                        "next_page_url": {
                                                            "description": "The next page url",
                                                            "type": "string",
                                                            "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                        },
                                                        "path": {
                                                            "description": "The current page url",
                                                            "type": "string",
                                                            "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                        },
                                                        "per_page": {
                                                            "description": "The number of items per page",
                                                            "type": "integer",
                                                            "example": 10
                                                        },
                                                        "prev_page_url": {
                                                            "description": "The previous page url",
                                                            "type": "string",
                                                            "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                        },
                                                        "to": {
                                                            "description": "The last item number of the current page",
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "total": {
                                                            "description": "The total number of items",
                                                            "type": "integer",
                                                            "example": 1
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/pages\/{pageId}": {
            "delete": {
                "tags": [
                    "Pages"
                ],
                "summary": "Delete a certain page that belongs to a certain agent.",
                "description": "Delete a specific page within an agent (formerly known as project) based on its unique projectId and pageId. This endpoint allows you to remove a particular page from the agent, permanently deleting its associated context.\nHere is an example to delete a certain page: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Delete_a_page_from_the_project.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Delete_a_project_page.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique identifier of the agent (formerly known as project).",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageId",
                        "in": "path",
                        "description": "The page id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/DeleteProjectResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/pages\/{pageId}\/reindex": {
            "post": {
                "tags": [
                    "Pages"
                ],
                "summary": "Reindex a certain page that belongs to a certain agent.",
                "description": "Reindex a specific page within an agent (formerly known as project) based on its unique projectId and pageId. This endpoint allows you to refresh a particular page from the agent. Our system will crawl and index page content newly.",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique identifier of the agent (formerly known as project).",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageId",
                        "in": "path",
                        "description": "The page id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updating Document with the new content",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "description": "The status of the response",
                                            "enum": [
                                                "error",
                                                "success"
                                            ],
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "updated": {
                                                    "description": "Whether the process to update the Document started successfully or not",
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/PageReindexErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/pages\/{pageId}\/metadata": {
            "get": {
                "tags": [
                    "Pages Metadata"
                ],
                "summary": "Get the Metadata for a certain page.",
                "description": "Retrieve the Metadata for a page based on its unique identifier. This endpoint allows you to fetch the metadata associated with a specific page.",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique identifier of the agent (formerly known as project).",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageId",
                        "in": "path",
                        "description": "The unique identifier of the page.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get the document metadata data for a citation",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "description": "The status of the response",
                                            "enum": [
                                                "error",
                                                "success"
                                            ],
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#\/components\/schemas\/PageMetadata"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/CreatePageMetadataErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/PageNotFoundErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Pages Metadata"
                ],
                "summary": "Update metadata for a certain page.",
                "description": "Update the metadata for a specific page identified by its unique pageId. This endpoint allows you to update the associated metadata of the page.",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The id of an agent (formerly known as project) in which page is stored.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageId",
                        "in": "path",
                        "description": "The id of a page in which metadata will be updated.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update a page metadata",
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "description": "The title of the document used in citations",
                                        "type": "string",
                                        "maxLength": 255,
                                        "nullable": true,
                                        "example": "Title"
                                    },
                                    "url": {
                                        "description": "The url of the document used in citations",
                                        "type": "string",
                                        "maxLength": 2000,
                                        "nullable": true,
                                        "example": "https:\/\/example.com\/"
                                    },
                                    "description": {
                                        "description": "The description of the document used in citations",
                                        "type": "string",
                                        "maxLength": 500,
                                        "nullable": true,
                                        "example": "One to two sentences."
                                    },
                                    "image": {
                                        "description": "The url of the image used in citations",
                                        "type": "string",
                                        "maxLength": 2000,
                                        "nullable": true,
                                        "example": "https:\/\/example.com\/image.png"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Get the document metadata data for a citation",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "description": "The status of the response",
                                            "enum": [
                                                "error",
                                                "success"
                                            ],
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#\/components\/schemas\/PageMetadata"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/PageNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/settings": {
            "get": {
                "tags": [
                    "Agent Settings"
                ],
                "summary": "Get agent settings.",
                "description": "Retrieve the agent (formerly known as project) settings for a specific agent. This endpoint allows you to fetch the configuration and settings associated with the project.\nHere is an example to get an agent settings: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Get_Settings_for_a_particular_project.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Get_settings_for_a_particular_project.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique identifier of the agent (formerly known as project).",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/ListProjectSettingsResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agent Settings"
                ],
                "summary": "Update agent settings.",
                "description": "Update the agent (formerly known as project) settings for a specific agent. This endpoint allows you to update the configuration and settings associated with the agent.\nHere is an example to get an agent settings: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Update_settings_for_a_particular_project.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Update_project_settings.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique identifier of the agent (formerly known as project).",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update agent settings",
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "chat_bot_avatar": {
                                        "description": "This is the avatar that is shown in the agent response. You can make it a profile picture or your company logo.",
                                        "format": "binary",
                                        "type": "string",
                                        "example": "avatar.png"
                                    },
                                    "chat_bot_bg": {
                                        "description": "This is the background image shown in the agent conversations widget. You can change it to a company logo or background image.",
                                        "format": "binary",
                                        "type": "string",
                                        "example": "bg.png"
                                    },
                                    "default_prompt": {
                                        "description": "This is the default prompt shown to the user. You can customize this for your company or client.",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "How can I help you?"
                                    },
                                    "example_questions[]": {
                                        "description": "These are example questions shown to guide users. You can create customized questions to suit your company or client needs.",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "How can I help you?"
                                        }
                                    },
                                    "response_source": {
                                        "description": "By default, we ask ChatGPT to use only your content in its response (recommended). If you wish ChatGPT to improvise and use its own knowledgebase as well, you can select \"My Content + ChatGPT\"",
                                        "enum": [
                                            "default",
                                            "own_content",
                                            "openai_content"
                                        ],
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "own_content"
                                    },
                                    "chatbot_msg_lang": {
                                        "description": "By default, the agent messages like 'Ask Me Anything' are in English. You can customize this to your preferred language. Please note: This setting does not control what language ChatGPT responds in. That is controlled by the user's question. So a user asking in Portuguese, will most likely get a response from ChatGPT in Portuguese.",
                                        "enum": [
                                            [
                                                "sq",
                                                "ar",
                                                "hy",
                                                "az",
                                                "ba",
                                                "eu",
                                                "be",
                                                "bn",
                                                "bh",
                                                "bs",
                                                "pt-BR",
                                                "bg",
                                                "yue",
                                                "ca",
                                                "hne",
                                                "hr",
                                                "cs",
                                                "da",
                                                "doi",
                                                "nl",
                                                "en",
                                                "et",
                                                "fo",
                                                "fi",
                                                "fr",
                                                "gl",
                                                "ka",
                                                "de",
                                                "el",
                                                "gu",
                                                "hry",
                                                "he",
                                                "hi",
                                                "hu",
                                                "id",
                                                "ga",
                                                "it",
                                                "ja",
                                                "jv",
                                                "kn",
                                                "ks",
                                                "kk",
                                                "kok",
                                                "ko",
                                                "ky",
                                                "lv",
                                                "lt",
                                                "mk",
                                                "mai",
                                                "ms",
                                                "mt",
                                                "cmn",
                                                "mr",
                                                "mwr",
                                                "nan",
                                                "mo",
                                                "mn",
                                                "me",
                                                "ne",
                                                "no",
                                                "or",
                                                "ps",
                                                "fa",
                                                "pl",
                                                "pt",
                                                "pa",
                                                "raj",
                                                "ro",
                                                "ru",
                                                "sa",
                                                "sat",
                                                "sr",
                                                "sd",
                                                "si",
                                                "sk",
                                                "sl",
                                                "es",
                                                "sw",
                                                "sv",
                                                "tg",
                                                "ta",
                                                "tt",
                                                "te",
                                                "th",
                                                "tr",
                                                "tk",
                                                "uk",
                                                "ur",
                                                "uz",
                                                "vi",
                                                "cy",
                                                "wuu"
                                            ]
                                        ],
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "en"
                                    },
                                    "chatbot_color": {
                                        "description": "Color of the agent in hex format",
                                        "type": "string",
                                        "maxLength": 9,
                                        "example": "#000000"
                                    },
                                    "chatbot_toolbar_color": {
                                        "description": "Color of the agent toolbar in hex format",
                                        "type": "string",
                                        "maxLength": 9,
                                        "example": "#000000"
                                    },
                                    "persona_instructions": {
                                        "description": "Customize your agent behavior by adjusting the system parameter to control its personality traits  and role.",
                                        "type": "string",
                                        "maxLength": 12000,
                                        "nullable": true,
                                        "example": "You are a custom AI Agent called CustomGPT.ai, a friendly lawyer who answers questions based on the given context."
                                    },
                                    "citations_answer_source_label_msg": {
                                        "description": "This is the message shown to indicate where the response came from. You can customize this message based on your business or language.",
                                        "type": "string",
                                        "maxLength": 255,
                                        "nullable": true,
                                        "example": "Where did this answer come from?"
                                    },
                                    "citations_sources_label_msg": {
                                        "description": "This is the message shown for the Sources label.  You can customize this message based on your business or language.",
                                        "type": "string",
                                        "maxLength": 255,
                                        "nullable": true,
                                        "example": "Sources"
                                    },
                                    "hang_in_there_msg": {
                                        "description": "This is the message shown when the agent is thinking and waiting to answer. You can customize this message based on your tone, personality or language.",
                                        "type": "string",
                                        "maxLength": 255,
                                        "nullable": true,
                                        "example": "Hang in there! I'm thinking.."
                                    },
                                    "chatbot_siesta_msg": {
                                        "description": "This is the message shown when the agent has encountered a problem or error. You can customize this message based on your tone, personality or language.",
                                        "type": "string",
                                        "maxLength": 255,
                                        "nullable": true,
                                        "example": "Oops! The agent is taking a siesta. We are aware of this and will get it back soon! Please try again later."
                                    },
                                    "is_loading_indicator_enabled": {
                                        "description": "Show animated loading indicator while waiting for a response from the agent",
                                        "default": true,
                                        "type": "boolean",
                                        "nullable": true,
                                        "example": true
                                    },
                                    "enable_citations": {
                                        "description": "Each agent response shows an option for the user to see the sources\/citations from your content from which the response was generated.",
                                        "enum": [
                                            0,
                                            1,
                                            2,
                                            3
                                        ],
                                        "default": 3,
                                        "type": "integer",
                                        "nullable": true,
                                        "example": 3
                                    },
                                    "enable_feedbacks": {
                                        "description": "Each agent response shows an thumbs up\/down for the user to left own feedback.",
                                        "default": true,
                                        "type": "boolean",
                                        "nullable": true,
                                        "example": true
                                    },
                                    "citations_view_type": {
                                        "description": "Control how citations are shown. By default, the user can initiate to see the citations. You can choose to have it \"Auto Shown\" or \"Auto Hide\"",
                                        "enum": [
                                            "user",
                                            "show",
                                            "hide"
                                        ],
                                        "default": "user",
                                        "type": "string",
                                        "nullable": true,
                                        "example": "user"
                                    },
                                    "image_citation_display": {
                                        "description": "Controls how images are displayed in citations. Default displays like regular citations, first_only inserts the image below the first paragraph where referenced, all inserts the image below all referenced paragraphs.",
                                        "enum": [
                                            "default",
                                            "first_only"
                                        ],
                                        "default": "default",
                                        "type": "string",
                                        "nullable": true,
                                        "example": "default"
                                    },
                                    "no_answer_message": {
                                        "description": "This is the message shown when the agent cannot answer. You can customize it to a message asking the user to contact customer support or leave their email \/ phone.",
                                        "default": "I'm sorry, I don't know the answer",
                                        "type": "string",
                                        "maxLength": 1000,
                                        "nullable": true,
                                        "example": "Sorry, I don't have an answer for that."
                                    },
                                    "ending_message": {
                                        "description": "You can instruct ChatGPT to end every response with some text like asking \"Please email us for further support\" (Not recommended for most use cases)",
                                        "type": "string",
                                        "maxLength": 1000,
                                        "nullable": true,
                                        "example": "Please email us for further support"
                                    },
                                    "try_asking_questions_msg": {
                                        "description": "This is the message shown to the user to encourage them to ask questions. You can customize this message based on your tone, personality or language.",
                                        "default": "Try asking these questions...",
                                        "type": "string",
                                        "maxLength": 255,
                                        "nullable": true,
                                        "example": "Try asking these questions..."
                                    },
                                    "view_more_msg": {
                                        "description": "This is the message shown to the user to view more starter questions. You can customize this message based on your tone, personality or language.",
                                        "default": "View more",
                                        "type": "string",
                                        "maxLength": 255,
                                        "nullable": true,
                                        "example": "View more"
                                    },
                                    "view_less_msg": {
                                        "description": "This is the message shown to the user to view less starter questions. You can customize this message based on your tone, personality or language.",
                                        "default": "View less",
                                        "type": "string",
                                        "maxLength": 255,
                                        "nullable": true,
                                        "example": "View less"
                                    },
                                    "remove_branding": {
                                        "description": "Controls what branding is shown at the bottom of the agent.",
                                        "default": false,
                                        "type": "boolean",
                                        "nullable": true,
                                        "example": false
                                    },
                                    "enable_recaptcha_for_public_chatbots": {
                                        "description": "Should we check messages from guests with Recaptcha when your agent is publicly available (i.e. shared or embedded).",
                                        "default": false,
                                        "type": "boolean",
                                        "nullable": true,
                                        "example": false
                                    },
                                    "chatbot_model": {
                                        "description": "This is the model used by the agent. You can choose a different model to suit your needs.",
                                        "enum": [
                                            "gpt-4-o",
                                            "gpt-4-1",
                                            "gpt-4o-mini",
                                            "gpt-4-1-mini",
                                            "claude-3-sonnet",
                                            "claude-3.5-sonnet",
                                            "gpt-o4-mini-low",
                                            "gpt-o4-mini-medium",
                                            "gpt-o4-mini-high"
                                        ],
                                        "type": "string",
                                        "nullable": true,
                                        "example": "gpt-4-o"
                                    },
                                    "is_selling_enabled": {
                                        "description": "Enable selling of the agent for monetization",
                                        "default": false,
                                        "type": "boolean",
                                        "nullable": true,
                                        "example": false
                                    },
                                    "can_share_conversation": {
                                        "description": "Toggle conversation sharing.",
                                        "default": false,
                                        "type": "boolean",
                                        "nullable": true,
                                        "example": false
                                    },
                                    "can_export_conversation": {
                                        "description": "Toggle export sharing.",
                                        "default": false,
                                        "type": "boolean",
                                        "nullable": true,
                                        "example": false
                                    },
                                    "hide_sources_from_responses": {
                                        "description": "Should the agent mention source names?",
                                        "default": true,
                                        "type": "boolean",
                                        "nullable": true,
                                        "example": true
                                    },
                                    "agent_capability": {
                                        "description": "Agent capability",
                                        "enum": [
                                            "fastest-responses",
                                            "optimal-choice",
                                            "advanced-reasoning",
                                            "complex-tasks"
                                        ],
                                        "type": "string",
                                        "nullable": true,
                                        "example": "fastest-responses"
                                    },
                                    "input_field_addendum": {
                                        "description": "You can add URL for your Terms of Service here, and it will be automatically added to your agent's interface.",
                                        "default": "",
                                        "type": "string",
                                        "maxLength": 100,
                                        "nullable": true
                                    },
                                    "user_avatar_enabled": {
                                        "description": "Enable user avatar",
                                        "default": false,
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "user_avatar": {
                                        "description": "User avatar",
                                        "format": "binary",
                                        "type": "string",
                                        "nullable": true,
                                        "example": "avatar.png"
                                    },
                                    "spotlight_avatar_enabled": {
                                        "description": "Enable spotlight avatar",
                                        "default": false,
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "spotlight_avatar": {
                                        "description": "Spotlight avatar",
                                        "default": "spotlight_avatar.png",
                                        "format": "binary",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "spotlight_avatar_shape": {
                                        "description": "Spotlight avatar shape",
                                        "enum": [
                                            "circle",
                                            "rectangle"
                                        ],
                                        "default": "rectangle",
                                        "type": "string",
                                        "nullable": true,
                                        "example": "rectangle"
                                    },
                                    "spotlight_avatar_type": {
                                        "description": "Spotlight avatar type",
                                        "enum": [
                                            "default",
                                            "image"
                                        ],
                                        "default": "default",
                                        "type": "string",
                                        "nullable": true,
                                        "example": "default"
                                    },
                                    "user_avatar_orientation": {
                                        "description": "Avatars orientation",
                                        "enum": [
                                            "agent-left-user-right",
                                            "agent-right-user-right",
                                            "agent-right-user-left",
                                            "agent-left-user-left"
                                        ],
                                        "default": "agent-left-user-right",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "chatbot_title": {
                                        "description": "Chatbot title",
                                        "default": "",
                                        "type": "string",
                                        "maxLength": 30,
                                        "nullable": true
                                    },
                                    "chatbot_title_color": {
                                        "description": "Chatbot title color, HEX color code",
                                        "default": "#000000",
                                        "type": "string",
                                        "nullable": true,
                                        "example": "#000000"
                                    },
                                    "enable_inline_citations_api": {
                                        "description": "Should the citations be shown inline in the response?",
                                        "default": false,
                                        "type": "boolean",
                                        "nullable": true,
                                        "example": false
                                    },
                                    "conversation_time_window": {
                                        "description": "Defines the maximum duration of a conversation. If set to false, users can continue the conversation beyond 24 hours, but the agent will ignore messages older than 24 hours. If set to true, the agent will consider messages older than 24 hours.",
                                        "default": false,
                                        "type": "boolean",
                                        "nullable": true,
                                        "example": false
                                    },
                                    "conversation_retention_period": {
                                        "description": "Period after which we automatically delete all conversations.",
                                        "enum": [
                                            "custom",
                                            "year",
                                            "never"
                                        ],
                                        "default": "year",
                                        "type": "string",
                                        "example": "year"
                                    },
                                    "conversation_retention_days": {
                                        "description": "Custom period in days after which we automatically delete all conversations.",
                                        "default": 0,
                                        "type": "integer",
                                        "example": 180
                                    },
                                    "use_context_aware_starter_question": {
                                        "description": "Use context-aware starter question",
                                        "default": false,
                                        "type": "boolean",
                                        "nullable": true,
                                        "example": false
                                    },
                                    "enable_agent_knowledge_base_awareness": {
                                        "description": "Enable agent knowledge base awareness",
                                        "default": true,
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "markdown_enabled": {
                                        "description": "Enable Markdown support in the agent responses. This allows for rich text formatting in the agent responses, such as bold, italics, lists, and links.",
                                        "default": true,
                                        "type": "boolean",
                                        "nullable": true,
                                        "example": true
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/UpdateProjectSettingsResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/UpdateProjectSettingsErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/plugins": {
            "get": {
                "tags": [
                    "Agent Plugins"
                ],
                "summary": "Show a certain agent plugin.",
                "description": "Retrieve the plugin details associated with an agent (formerly known as project). This endpoint provides information about the agent plugin.",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique agent id.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/ListProjectPluginResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectPluginNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agent Plugins"
                ],
                "summary": "Create a plugin.",
                "description": "Create a new plugin for a specific agent (formerly known as project) identified by its unique projectId. This endpoint enables you to create a custom plugin for the project. Which allows you to share the custom agent as openai plugin to be shared globally.",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The id of an agent (formerly known as project) in which plugin will be stored.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Create an agent plugin",
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "model_name": {
                                        "description": "Model Name",
                                        "type": "string",
                                        "example": "IndoorPlants"
                                    },
                                    "human_name": {
                                        "description": "Name For Human",
                                        "type": "string",
                                        "example": "The Indoor Plants Channel"
                                    },
                                    "keywords": {
                                        "description": "Keywords For Model",
                                        "type": "string",
                                        "example": "Indoor plants, Gardening, Trusted information."
[...]
