{
    "openapi": "3.0.2",
    "info": {
        "title": "CustomGPT",
        "description": "API Documentation for CustomGPT.",
        "contact": {
            "name": "CustomGPT",
            "url": "https:\/\/app.customgpt.ai",
            "email": "hello@customgpt.ai"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https:\/\/app.customgpt.ai",
            "description": "API Version 1"
        }
    ],
    "paths": {
        "\/api\/v1\/projects": {
            "get": {
                "tags": [
                    "Projects"
                ],
                "summary": "List all projects.",
                "description": "Returns a list of your projects. The projects are returned sorted by creation date, with the most recent projects appearing first. It is a paginated API and you can use the page parameter to fetch the next page of projects. The default page size is 10.\n\nHere is an example to list projects: using [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/List_all_projects_for_an_account_with_pagination.ipynb) and using our python [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_List_all_projects_using_pagination.ipynb).",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number to return",
                        "required": false,
                        "schema": {
                            "default": 1,
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "duration",
                        "in": "query",
                        "description": "The duration of the projects to list.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 90
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order of the projects to list. Defaults to desc.",
                        "required": false,
                        "schema": {
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "default": "desc",
                            "type": "string"
                        }
                    },
                    {
                        "name": "width",
                        "in": "query",
                        "description": "The width of the embed code. Defaults to 100%.",
                        "required": false,
                        "schema": {
                            "default": "100%",
                            "type": "string",
                            "example": "50rem"
                        }
                    },
                    {
                        "name": "height",
                        "in": "query",
                        "description": "The height of the embed code. Defaults to 100%.",
                        "required": false,
                        "schema": {
                            "default": "auto",
                            "type": "string",
                            "example": "50rem"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved list of projects that belong to the user.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "description": "The status of the response",
                                            "enum": [
                                                "error",
                                                "success"
                                            ],
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "description": "The current page number",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#\/components\/schemas\/Project"
                                                    }
                                                },
                                                "first_page_url": {
                                                    "description": "The first page url",
                                                    "type": "string",
                                                    "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                },
                                                "from": {
                                                    "description": "The first item number of the current page",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page": {
                                                    "description": "The last page number",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page_url": {
                                                    "description": "The last page url",
                                                    "type": "string",
                                                    "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                },
                                                "next_page_url": {
                                                    "description": "The next page url",
                                                    "type": "string",
                                                    "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                },
                                                "path": {
                                                    "description": "The current page url",
                                                    "type": "string",
                                                    "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                },
                                                "per_page": {
                                                    "description": "The number of items per page",
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "prev_page_url": {
                                                    "description": "The previous page url",
                                                    "type": "string",
                                                    "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                },
                                                "to": {
                                                    "description": "The last item number of the current page",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total": {
                                                    "description": "The total number of items",
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Projects"
                ],
                "summary": "Create a new project.",
                "description": "Create a new project by importing data either from a sitemap or an uploaded file. This endpoint enables you to initiate the creation of a new project by supplying the necessary project data that will be used as the context. You can choose to import the project structure and content from a sitemap url or upload a specific file format that contains the context can be any text, audio or video format. The system will process the provided data and generate a new project based on the imported or uploaded information.\nHere is an example to create a bot using a sitemap: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Create_Bot_By_Sitemap.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Create_Bot_By_Sitemap.ipynb).",
                "requestBody": {
                    "description": "Create a new project from a sitemap or a file",
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "project_name": {
                                        "description": "Project name",
                                        "type": "string",
                                        "example": "My project"
                                    },
                                    "sitemap_path": {
                                        "description": "The sitemap path",
                                        "type": "string",
                                        "example": "https:\/\/example.com\/sitemap.xml"
                                    },
                                    "file_data_retension": {
                                        "description": "File data retension",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "file": {
                                        "description": "The submitted file.",
                                        "format": "binary",
                                        "type": "string",
                                        "example": "file.pdf"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "$ref": "#\/components\/responses\/ProjectCreatedResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/CreateProjectErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}": {
            "get": {
                "tags": [
                    "Projects"
                ],
                "summary": "Show a certain project.",
                "description": "Retrieve details of a project based on its unique project ID. This endpoint allows you to fetch specific information about a project.",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique project identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "width",
                        "in": "query",
                        "description": "The width of the embed code. Defaults to 100%.",
                        "required": false,
                        "schema": {
                            "default": "100%",
                            "type": "string",
                            "example": "50rem"
                        }
                    },
                    {
                        "name": "height",
                        "in": "query",
                        "description": "The height of the embed code. Defaults to 100%.",
                        "required": false,
                        "schema": {
                            "default": "auto",
                            "type": "string",
                            "example": "50rem"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/ListProjectResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Projects"
                ],
                "summary": "Update a certain project.",
                "description": "Update a project with specific details based on its unique projectId. This endpoint allows you to modify and revise the information associated with a particular project\nHere is an example to a update a specific object: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Update%20a%20project%20name.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Update_a_project_name.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique identifier of a project.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update a project",
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "project_name": {
                                        "description": "Project name",
                                        "type": "string",
                                        "example": "My project"
                                    },
                                    "is_shared": {
                                        "description": "Whether the project is shared or not",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "sitemap_path": {
                                        "description": "Sitemap path",
                                        "type": "string",
                                        "example": "https:\/\/example.com\/sitemap.xml"
                                    },
                                    "file_data_retension": {
                                        "description": "File data retension",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "file": {
                                        "description": "File",
                                        "format": "binary",
                                        "type": "string",
                                        "example": "file.pdf"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/UpdateProjectResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Projects"
                ],
                "summary": "Delete a certain project.",
                "description": "Delete a project by its unique project ID. This endpoint allows you to remove an existing project from the system based on its ID.\nHere is an example to delete a project: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Delete_a_project.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Delete_a_project.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique identifier of a project.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/DeleteProjectResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/stats": {
            "get": {
                "tags": [
                    "Projects"
                ],
                "summary": "Get the stats for a certain project.",
                "description": "Retrieve statistical data for a project using its unique projectId. This endpoint provides extensive statistics about the project's performance, activity, or other relevant metrics.\nHere is an example to a specific object stats: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Get_Project_Stats.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Get_Project_Stats.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique identifier of a project.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/ProjectStatsResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/pages": {
            "get": {
                "tags": [
                    "Pages"
                ],
                "summary": "List all pages that belong to a project.",
                "description": "Retrieve a list of all pages associated with a project. This endpoint allows you to fetch project details and a collection of pages that belong to a specific project. Each page object includes information such as the page ID, URL, hash of the URL, project ID, crawl status, index status, file details (if applicable), creation and update timestamps, and other relevant attributes.\nHere is an example to list all pages belonging to project: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/List_all_pages_of_a_project.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_List_all_pages_belonging_to_a_project.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique project identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number to return",
                        "required": false,
                        "schema": {
                            "default": 1,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "duration",
                        "in": "query",
                        "description": "The duration of the projects to list. Defaults to 90 days.",
                        "required": false,
                        "schema": {
                            "default": 90,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order of the projects to list. Defaults to desc.",
                        "required": false,
                        "schema": {
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "default": "desc",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of pages successfully retrieved.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "description": "The status of the response",
                                            "enum": [
                                                "error",
                                                "success"
                                            ],
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "project": {
                                                    "$ref": "#\/components\/schemas\/Project"
                                                },
                                                "pages": {
                                                    "type": "object",
                                                    "properties": {
                                                        "current_page": {
                                                            "description": "The current page number",
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "data": {
                                                            "type": "array",
                                                            "items": {
                                                                "$ref": "#\/components\/schemas\/Page"
                                                            }
                                                        },
                                                        "first_page_url": {
                                                            "description": "The first page url",
                                                            "type": "string",
                                                            "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                        },
                                                        "from": {
                                                            "description": "The first item number of the current page",
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "last_page": {
                                                            "description": "The last page number",
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "last_page_url": {
                                                            "description": "The last page url",
                                                            "type": "string",
                                                            "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                        },
                                                        "next_page_url": {
                                                            "description": "The next page url",
                                                            "type": "string",
                                                            "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                        },
                                                        "path": {
                                                            "description": "The current page url",
                                                            "type": "string",
                                                            "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                        },
                                                        "per_page": {
                                                            "description": "The number of items per page",
                                                            "type": "integer",
                                                            "example": 10
                                                        },
                                                        "prev_page_url": {
                                                            "description": "The previous page url",
                                                            "type": "string",
                                                            "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                        },
                                                        "to": {
                                                            "description": "The last item number of the current page",
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "total": {
                                                            "description": "The total number of items",
                                                            "type": "integer",
                                                            "example": 1
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/pages\/{pageId}": {
            "delete": {
                "tags": [
                    "Pages"
                ],
                "summary": "Delete a certain page that belongs to a certain project.",
                "description": "Delete a specific page within a project based on its unique projectId and pageId. This endpoint allows you to remove a particular page from the project, permanently deleting its associated context.\nHere is an example to delete a certain page: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Delete_a_page_from_the_project.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Delete_a_project_page.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique project identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageId",
                        "in": "path",
                        "description": "The page id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/DeleteProjectResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/pages\/{pageId}\/reindex": {
            "post": {
                "tags": [
                    "Pages"
                ],
                "summary": "Reindex a certain page that belongs to a certain project.",
                "description": "Reindex a specific page within a project based on its unique projectId and pageId. This endpoint allows you to refresh a particular page from the project. Our system will crawl and index page content newly.",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique project identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageId",
                        "in": "path",
                        "description": "The page id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Page reindex process start successfully",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "description": "The status of the response",
                                            "enum": [
                                                "error",
                                                "success"
                                            ],
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "updated": {
                                                    "description": "Whether the page start reindex process successfully or not",
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/PageReindexErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/settings": {
            "get": {
                "tags": [
                    "Project Settings"
                ],
                "summary": "Get project settings.",
                "description": "Retrieve the project settings for a specific project. This endpoint allows you to fetch the configuration and settings associated with the project.\nHere is an example to get a project settings: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Get_Settings_for_a_particular_project.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Get_settings_for_a_particular_project.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique project identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/ListProjectSettingsResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Project Settings"
                ],
                "summary": "Update project settings.",
                "description": "Update the project settings for a specific project. This endpoint allows you to update the configuration and settings associated with the project.\nHere is an example to get a project settings: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Update_settings_for_a_particular_project.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Update_project_settings.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique project identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update project settings",
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "chat_bot_avatar": {
                                        "description": "Chatbot avatar",
                                        "format": "binary",
                                        "type": "string",
                                        "example": "avatar.png"
                                    },
                                    "chat_bot_bg": {
                                        "description": "Chatbot background",
                                        "format": "binary",
                                        "type": "string",
                                        "example": "bg.png"
                                    },
                                    "default_prompt": {
                                        "description": "Default prompt",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "How can I help you?"
                                    },
                                    "example_questions": {
                                        "description": "Example questions",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "How can I help you?"
                                        }
                                    },
                                    "response_source": {
                                        "description": "Response source",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "https:\/\/example.com"
                                    },
                                    "chatbot_msg_lang": {
                                        "description": "Chatbot message language",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "en"
                                    },
                                    "chatbot_color": {
                                        "description": "Chatbot color in hex format",
                                        "type": "string",
                                        "maxLength": 9,
                                        "example": "#000000"
                                    },
                                    "persona_instructions": {
                                        "description": "Role instructions for persona or null if persona must be delete",
                                        "type": "string",
                                        "nullable": true,
                                        "example": "You are a custom chatbot assistant called CustomGPT, a friendly lawyer who answers questions based on the given context."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/UpdateProjectSettingsResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/UpdateProjectSettingsErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/plugins": {
            "get": {
                "tags": [
                    "Project Plugins"
                ],
                "summary": "Show a certain project plugin.",
                "description": "Retrieve the plugin details associated with a project. This endpoint provides information about the project plugin.",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique project id.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/ListProjectPluginResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectPluginNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Project Plugins"
                ],
                "summary": "Create a plugin.",
                "description": "Create a new plugin for a specific project identified by its unique projectId. This endpoint enables you to create a custom plugin for the project. Which allows you to share the custom chatbot as openai plugin to be shared globally.",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The id of a project in which plugin will be stored.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Create a project plugin",
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "model_name": {
                                        "description": "Model Name",
                                        "type": "string",
                                        "example": "IndoorPlants"
                                    },
                                    "human_name": {
                                        "description": "Name For Human",
                                        "type": "string",
                                        "example": "The Indoor Plants Channel"
                                    },
                                    "keywords": {
                                        "description": "Keywords For Model",
                                        "type": "string",
                                        "example": "Indoor plants, Gardening, Trusted information."
                                    },
                                    "description": {
                                        "description": "Description For Human",
                                        "type": "string",
                                        "example": "Trusted information about indoor plants and gardening."
                                    },
                                    "is_active": {
                                        "description": "Whether the project plugin is active or not",
                                        "default": false,
                                        "type": "boolean",
                                        "example": true
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "$ref": "#\/components\/responses\/CreateProjectPluginResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Project Plugins"
                ],
                "summary": "Update a plugin.",
                "description": "Update the plugin configuration for a specific project identified by its unique projectId. This endpoint allows you to update the associated attributes of the plugin.",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The id of a project in which plugin will be stored.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update a project plugin",
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "model_name": {
                                        "description": "Model Name",
                                        "type": "string",
                                        "example": "IndoorPlants"
                                    },
                                    "human_name": {
                                        "description": "Name For Human",
                                        "type": "string",
                                        "example": "The Indoor Plants Channel"
                                    },
                                    "keywords": {
                                        "description": "Keywords For Model",
                                        "type": "string",
                                        "example": "Indoor plants, Gardening, Trusted information."
                                    },
                                    "description": {
                                        "description": "Description For Human",
                                        "type": "string",
                                        "example": "Trusted information about indoor plants and gardening."
                                    },
                                    "is_active": {
                                        "description": "Whether the project plugin is active or not",
                                        "default": false,
                                        "type": "boolean",
                                        "example": true
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/UpdateProjectPluginResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectPluginNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/conversations": {
            "get": {
                "tags": [
                    "Conversations"
                ],
                "summary": "List all conversations for a project.",
                "description": "Retrieve all conversations associated with a project based on its unique projectId. This endpoint allows you to fetch a collection of conversations related to a specific project.",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The ID of the project to get the conversations for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number to return",
                        "required": false,
                        "schema": {
                            "default": 1,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order to sort the results by",
                        "required": false,
                        "schema": {
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "default": "desc",
                            "type": "string",
                            "example": "desc"
                        }
                    },
                    {
                        "name": "userFilter",
                        "in": "query",
                        "description": "Filter the results by the user that created the conversation",
                        "required": false,
                        "schema": {
                            "enum": [
                                "all",
                                "anonymous",
                                "team_member"
                            ],
                            "default": "all",
                            "type": "string",
                            "example": "all"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of conversations for a project",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "description": "The status of the response",
                                            "enum": [
                                                "error",
                                                "success"
                                            ],
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "description": "The current page number",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#\/components\/schemas\/Conversation"
                                                    }
                                                },
                                                "first_page_url": {
                                                    "description": "The first page url",
                                                    "type": "string",
                                                    "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                },
                                                "from": {
                                                    "description": "The first item number of the current page",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page": {
                                                    "description": "The last page number",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page_url": {
                                                    "description": "The last page url",
                                                    "type": "string",
                                                    "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                },
                                                "next_page_url": {
                                                    "description": "The next page url",
                                                    "type": "string",
                                                    "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                },
                                                "path": {
                                                    "description": "The current page url",
                                                    "type": "string",
                                                    "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                },
                                                "per_page": {
                                                    "description": "The number of items per page",
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "prev_page_url": {
                                                    "description": "The previous page url",
                                                    "type": "string",
                                                    "example": "https:\/\/app.customgpt.ai\/api\/v1\/users?page=1"
                                                },
                                                "to": {
                                                    "description": "The last item number of the current page",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total": {
                                                    "description": "The total number of items",
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Conversations"
                ],
                "summary": "Create a new conversation.",
                "description": "Create a new conversation for a project identified by its unique projectId. This endpoint allows you to initiate a new conversation within a specific project. A conversation serves as a platform for users to exchange messages regarding project-related matters. By providing the projectId, you can establish a conversation within the context of the project allowing you to seamlessly communicate with it.\nHere is an example to create a conversation: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Create_a_new_conversation_and_send_a_message_to_the_conversation.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Create_a_new_conversation_and_send_a_message_to_the_conversation.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique project identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Create a new conversation",
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "description": "Conversation name",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "My conversation"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "$ref": "#\/components\/responses\/CreateConversationResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/conversations\/{sessionId}": {
            "put": {
                "tags": [
                    "Conversations"
                ],
                "summary": "Update a conversation.",
                "description": "Update a conversation within a project identified by its unique projectId and sessionId. This endpoint allows you to modify and update the properties of a specific conversation. By providing the projectId and sessionId, you can target the desired conversation and make changes to its attributes.\nHere is an example to update a conversation: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Update_Delete_a_conversation.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Update_Delete_a_conversation.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique project identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sessionId",
                        "in": "path",
                        "description": "The unique session identifier.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update a conversation",
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "description": "The new name of the conversation",
                                        "type": "string",
                                        "example": "My new conversation name"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Update conversation information",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "description": "The status of the response",
                                            "enum": [
                                                "error",
                                                "success"
                                            ],
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#\/components\/schemas\/Conversation"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Conversations"
                ],
                "summary": "Delete a conversation.",
                "description": "Delete a conversation within a project identified by its unique projectId and sessionId. This endpoint allows you to remove a specific conversation from the project, permanently deleting all associated messages. By providing the projectId and sessionId, you can target the conversation to be deleted, ensuring the removal of all conversation-related data.\nHere is an example to delete a conversation: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Update_Delete_a_conversation.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Update_Delete_a_conversation.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique project identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sessionId",
                        "in": "path",
                        "description": "The unique session identifier.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/DeleteProjectResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/conversations\/{sessionId}\/messages": {
            "get": {
                "tags": [
                    "Conversations"
                ],
                "summary": "Retrieve messages that have been sent in a conversation.",
                "description": "Retrieve all messages sent within a conversation of a project identified by its unique projectId and sessionId. This endpoint allows you to retrieve a collection of messages exchanged in a specific conversation. Messages contain the content, timestamps, and other relevant information shared during the course of the conversation. By providing the projectId and sessionId, you can access all the messages associated with that particular conversation within the project context.\nHere is an example to retrieve messages of a conversation: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Retrieve_messages_for_a_conversation.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Retrieve_Messages_of_conversation.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The ID of the project to get the messages for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "sessionId",
                        "in": "path",
                        "description": "The session ID of the converstaions to get the messages for",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number to return",
                        "required": false,
                        "schema": {
                            "default": 1,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order to sort the results by",
                        "required": false,
                        "schema": {
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "default": "desc",
                            "type": "string",
                            "example": "desc"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/ConversationMessageListResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Conversations"
                ],
                "summary": "Send a message to a conversation.",
                "description": "Send a message to a conversation within a project identified by its unique projectId and sessionId. This endpoint enables you to send a new message to a specific conversation, facilitating seamless communication and collaboration within the project. By providing the projectId and sessionId, you can target the desired conversation and contribute to the ongoing discussion. This API endpoint supports real-time streaming, allowing for instant message delivery and dynamic updates which enables efficient and interactive communication between the user and chatbot.\nHere is an example to send a message to a conversation: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Create_a_new_conversation_and_send_a_message_to_the_conversation.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Create_a_new_conversation_and_send_a_message_to_the_conversation.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The ID of the project to get the messages for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "sessionId",
                        "in": "path",
                        "description": "The session ID of the converstaions to get the messages for",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    },
                    {
                        "name": "stream",
                        "in": "query",
                        "description": "Whether to stream the response or not, if stream the responses will be sent as data-only server-sent events as they become available, with the stream terminated by a `status: \"finish\"` message. [Example Python code](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Create_a_new_conversation_and_send_a_message_to_the_conversation.ipynb).",
                        "required": false,
                        "schema": {
                            "default": false,
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "The language to use for the prompt",
                        "required": false,
                        "schema": {
                            "default": "en",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Send a message to a conversation.",
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "prompt": {
                                        "description": "Prompt to send to OpenAI",
                                        "type": "string",
                                        "example": "Write me hello world program in C"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/SendConversationResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/citations\/{citationId}": {
            "get": {
                "tags": [
                    "Citations"
                ],
                "summary": "Get the Open Graph data for a citation.",
                "description": "Retrieve the Open Graph data for a citation based on its unique identifier. This endpoint allows you to fetch the Open Graph metadata associated with a specific citation.\nHere is an example to get citation detail: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Get_citation_details.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Get_Citation_Details.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique identifier of the project.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "citationId",
                        "in": "path",
                        "description": "The unique identifier of the citation.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get the Open Graph data for a citation",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "description": "The status of the response",
                                            "enum": [
                                                "error",
                                                "success"
                                            ],
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#\/components\/schemas\/OpenGraphCache"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/sources": {
            "get": {
                "tags": [
                    "Sources"
                ],
                "summary": "List a certain project's sources.",
                "description": "Retrieve a list of all sources associated with a given project. This endpoint provides a collection of sources that are linked to a specific project. Sources serve as references or contexts for the project.",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique identifier of a project.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#\/components\/responses\/ListProjectsResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Sources"
                ],
                "summary": "Create a new project source.",
                "description": "Create a new data source for a given project, allowing you to add additional context by specifying a sitemap URL or uploading a file. This endpoint enables you to enrich the project's information by incorporating relevant data sources.\nHere is an example to add a new source to project: [API](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/Add_a_sitemap_to_an_existing_project.ipynb) [SDK](https:\/\/github.com\/Poll-The-People\/customgpt-cookbook\/blob\/main\/examples\/SDK_Add_a_Sitemap_to_project.ipynb).",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique identifier of a project.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Create a new project source from a sitemap or a file",
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "sitemap_path": {
                                        "description": "The sitemap path",
                                        "type": "string",
                                        "example": "https:\/\/example.com\/sitemap.xml"
                                    },
                                    "file_data_retension": {
                                        "description": "File data retension",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "file": {
                                        "description": "The submitted file.",
                                        "format": "binary",
                                        "type": "string",
                                        "example": "file.pdf"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "$ref": "#\/components\/responses\/CreateProjectSourceResponse"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/FlaskServiceErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/projects\/{projectId}\/sources\/{sourceId}": {
            "delete": {
                "tags": [
                    "Sources"
                ],
                "summary": "Delete a project source.",
                "description": "Delete a source for a given project.",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The unique identifier of a project.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sourceId",
                        "in": "path",
                        "description": "The unique identifier of a source.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Project source deleted successfully",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "description": "The status of the response",
                                            "enum": [
                                                "error",
                                                "success"
                                            ],
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "deleted": {
                                                    "description": "Whether the project source was deleted successfully or not",
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ProjectNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/preview\/{id}": {
            "get": {
                "tags": [
                    "Pages"
                ],
                "summary": "Preview file from citation.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "$ref": "#\/components\/responses\/BadArgumentErrorResponse"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/PageNotFoundErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "\/api\/v1\/user": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Show the user's profile.",
                "description": "Retrieve the profile information of the current user. This endpoint allows you to fetch the details and attributes associated with the user's profile, providing valuable information about the user's account and preferences.",
                "responses": {
                    "200": {
                        "description": "Retrieve user account info",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "description": "The status of the response",
                                            "enum": [
                                                "error",
                                                "success"
                                            ],
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#\/components\/schemas\/User"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ApiTokenValidationErrorResponse"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/InternalServerErrorResponse"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Update the user's profile.",
[...]
